{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast 2</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<div class="container">
    
    <div class="row">
      <img src="/static/weather/img/map1.png" alt="top">
    </div>
    
    <div class="row">
      <div class="col-md-1 bg-warning"><img src="/static/weather/img/bolt.png" alt="Menu!" height="42" width="32"></div>
      <div class="col-md-8 bg-secondary">Search...</div>
      <div class="col-md-3 bg-warning"><img src="/static/weather/img/mic.svg" alt="mic" height="42" width="24"></div>
    </div>
    
    
    <div class="row bg-warning">
      
      <div class="col-md-5 text-dark font-weight-bold">Berkeley</div>
      <div class="col-md-1 bg-secondary"></div>
      <div class="col-md-2"></div>
      <div class="col-md-1"></div>
      <div class="col-md-3 text-dark font-weight-bold">65</div>
    </div>
    
    <div class="row bg-warning">
      <div class="col-md-5 text-dark">California</div>
      <div class="col-md-4">
        
      </div>
      <div class="col-md-3 text-dark">Cloudy</div>
    </div>
   

  </div>
</body>
</html>
