{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	
  <div class="row bg-danger"><br></div>
  <div class="text-center font-weight-bold bg-danger">
    <h1>X - ALERT</h1>
    <div class="row bg-danger"><br></div>
  </div>
  <div class="row bg-danger"><br></div>
  
  <div class="row bg-warning"><br></div>
  <div class="row bg-warning"><br></div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-10 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-10 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-10 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-10 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-10 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-10 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
    <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-4 bg-dark"><br></div>
    <div class="col-md-3 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-10 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-10 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  <div class="row text-center font-weight-bold text-light">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-10 bg-danger">VIEW EMERGENCY WEATHER</div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-10 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  <div class="row">
    <div class="col-md-1 bg-warning"><br></div>
    <div class="col-md-10 bg-danger"><br></div>
    <div class="col-md-1 bg-warning"><br></div>
  </div>
  
  
  <div class="row bg-warning"><br></div>
  <div class="row bg-warning"><br></div>
  <div class="row bg-warning">
      
      <div class="col-md-5 text-dark font-weight-bold">Berkeley</div>
      <div class="col-md-1 bg-secondary"></div>
      <div class="col-md-2"></div>
      <div class="col-md-1"></div>
      <div class="col-md-3 text-dark font-weight-bold">65</div>
    </div>
    
    <div class="row bg-warning">
      <div class="col-md-5 text-dark">California</div>
      <div class="col-md-4">
        
      </div>
      <div class="col-md-3 text-dark">Cloudy</div>
    </div>
  
  
</body>
</html>





