{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast</title>
	
  
  
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
  <div class="container"> 
    
    <div class="row bg-warning">
      <div class="col-md-3"><img src="/static/weather/img/bolt.png" alt="Menu!" height="42" width="24"></div>
      <div class="col-md-6">Search...</div>
      <div class="col-md-3"><img src="/static/weather/img/mic.svg" alt="mic" height="42" width="24"></div>
    </div>
    
    <div id="fuck" class="row">
      fuck you
      <div class="col-md-5">
        <p>
          Berkeley
        </p>
      </div>
      <div class="col-md-2">
        
      </div>
      <div class="col-md-5">
        65
      </div>
    </div>
    
  <!--
  </div>
  <div class="hotmap">
    <img src="">
  
    <div class="bar">
      <div class="menubolt"></div>
      <div class="search"></div>
      <div class="voice"></div>
    </div>
  
    <div class="bot">
      <div class="location"></div>
      <div class="ibutton"></div>
      <div class="weather"></div>
    </div>
    -->    

  </div>
</body>
</html>