{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast 2</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<div class="container">
    
    <div class="row">
      <img src="/static/weather/img/map1.png" alt="top">
    </div>
    
    <div class="row">
      <div class="col-md-1 bg-warning"><img src="/static/weather/img/bolt.png" alt="Menu!" height="42" width="32"></div>
      <div class="col-md-8 bg-secondary">Search...</div>
      <div class="col-md-3 bg-warning"><img src="/static/weather/img/mic.svg" alt="mic" height="42" width="24"></div>
    </div>
    
    
    <div class="row bg-warning">
      
      <div class="col-md-5 text-dark font-weight-bold">Berkeley</div>
      <div class="col-md-1 bg-secondary"></div>
      <div class="col-md-2"></div>
      <div class="col-md-1"></div>
      <div class="col-md-3 text-dark font-weight-bold">65</div>
    </div>
    
    <div class="row bg-warning">
      <div class="col-md-5 text-dark">California</div>
      <div class="col-md-4">
        
      </div>
      <div class="col-md-3 text-dark">Cloudy</div>
    </div>
   
    <div class="row bg-warning"><br></div>
    
    <div class="row font-weight-bold">
      <div class="col-md-3">
        NOW
      </div>
      <div class="col-md-3">
        10 PM
      </div>
      <div class="col-md-3">
        11 PM
      </div>
      <div class="col-md-3">
        12 AM
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3">
        CLOUDY
      </div>
      <div class="col-md-3">
        CLOUDY
      </div>
      <div class="col-md-3">
        RAIN
      </div>
      <div class="col-md-3">
        RAIN
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3 font-weight-bold">
        65
      </div>
      <div class="col-md-3 font-weight-bold">
        62
      </div>
      <div class="col-md-3 font-weight-bold">
        59
      </div>
      <div class="col-md-3 font-weight-bold">
        56
      </div>
    </div>
    
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    
    <div class="row bg-secondary text-light font-weight-bold">
      Directions
    </div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-secondary text-light font-weight-bold">
      Compare
    </div>
    
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    
    <div class="row font-weight-bold">Humidity: 68%</div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row font-weight-bold">Precipitation: 0 in</div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row font-weight-bold">Visibility: 6 mi</div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row font-weight-bold">Air Quality: Moderate</div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row font-weight-bold">Air Quality Index: 52</div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>
    <div class="row bg-warning"><br></div>

  </div>
</body>
</html>
