{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Current Weather</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
  
	<!-- replace this html -->
	<div class="container">
		<div class="jumbotron text-light bg-secondary">
			<h1>Weather Traveler</h1>
			<img src="/static/weather/img/TEMPEST.jpg" alt="tempest" width="50%">
		</div>

		<a href="/weather/forecast/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Forecast part 1</a>
		<a href="/weather/forecast/alert/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Forecast with alert</a>
		<a href="/weather/forecast_2/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Forecast part 2</a>
	</div>
	
  
</body>
</html>





